body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    transition: background-color 0.5s ease;
}

#output {
  font-weight: bold;
  /* font-size: 1.2rem; */
  border: none;
  background-color: transparent;
  transition: color 0.5s ease;
}

input {
    margin-left: 15px;
    padding: 5px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#validate {
    background-color: rgb(52, 52, 238);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;

}

span {
    background-color: white;
    border: 1px solid black;
}

h1 {
    font-size: 1.75rem;
    margin-top: 100px;
    color: blueviolet;
}